* {
  font-family: "Poppins", sans-serif;
}


.header {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  background-image: linear-gradient(rgba(112.520718,44.062154,249.437846, 1), rgba(112.520718,44.062154,249.437846, 0.95));
}
.title {
  font-size: 1.5em;
  font-weight: 600;
  padding: 0.5em;
  margin: 0;
  display: inline;
}

.titleIcon{
  position: relative;
    top: 3px;
}

.searchBar {
  display: flex;
}
.todoButtons {
  display: inline;
  padding: 0.8em 0;
}
.addTodoButton {
  padding: 0.8em;
  border: none;
  border-radius: 20px;
  margin: 0 0.3em;
  background-color: #000080;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
  text-align: center;
  cursor: pointer;
  font-size: 0.9em;
  color: #fff;
  font-weight: 500;
  transition: 0.4s;
}

.addTodoButton:hover{
  background-color: #0000cc;
}

.searchTodoButton {
  background-color: #04aa6d;
  transition: 0.4s;
}
.searchTodoButton:hover {
  background-color: #06c780;
    /* border: 1px solid #06c780; */
}

.logoutButton {
  background-color: #8b0000;
}
.logoutButton:hover{
  background-color: #bf0202;
}

.todoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#modal-title {
  margin: 0;
  font-size: 1.5em;
  color: #c4c3ca;
  font-weight: 600;
  margin-left: 0.5em;
}

#cross-button {
  color: grey;
  font-size: 1.8em;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 24px;
  top: 16px;
  cursor: pointer;
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.sectionTodos{
  margin: 1em;
}

.sectionTitleContainer{
  padding: 1em;
}

.sectionTitle{
  font-size: 2em;
  margin: 0;
  text-decoration: underline #0274bf;
}

.emptyTodos{
  font-size: 1.2em;
}

