.info-icon {
  position: absolute;
  top: 7%;
  right: 5%;
  font-size: 1.15em;
  cursor: pointer;
}

.tooltip {
  /* display: none; */
  width: 15em;
  position: absolute;
  top: -27%;
  right: -64%;
  font-size: 0.9em;
  padding: 0.8em;
  border-radius: 6px;
  background-color: #107895;
}
